<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-inverse flex-row">
      <div class="logo">
        <%= link_to image_tag('github-logo.png', class: "image-responsive"), dashboard_index_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
